.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menux {
  display: inline-flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 700px;
}

.menu {
  display: inline;
  list-style: none;
  width: 700px;
}

.menu li {
  padding: 10px;
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

.menu li a:hover {
  color: #e45454;
}

.menu li a.active {
  color: #8abe6b;
}

.menu li a.active:hover {
  color: #4c4db1;
}

.menu li a.active {
  color: #d63bce;
}
 
/* ------------------------Gallery------------------------------------- */
.plist{
  display: flex;
  justify-content: center;
  list-style: none;
}
.plist li{
  margin: 15px 15px;
}
.plist li a{
text-decoration: none;
color: rgb(101, 41, 41);
font-size: 20px;
font-weight: bold;
font-family: cursive; 
}
.Pitems{
display: grid;
  grid-gap:20px;
  margin:0px 30px 0px 30px;
  grid-template-columns:repeat(3 , 1fr);
  padding: 30px;
}
.projects{
justify-content: center;
padding-left: 60px;
}
/* -------------------TicToc------------------ */
.board {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 300px;
}
.board-row {
  display: flex;
}
.square {
  background-color: #fff;
  border: 1px solid #999;
  font-size: 36px;
  line-height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  height: 50px;
}
.square:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}
.status {
  margin-bottom: 10px;
}


